<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>expect</Title>
    <Shortcut>exp</Shortcut>
    <Author>Mads Kristensen</Author>
    <Description>Jasmine - takes a value, called the actual</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="TypeScript">
      <![CDATA[expect($end$);]]>
    </Code>
  </Snippet>
</CodeSnippet>